<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner App</title>
</head>

<body>
    <h1>
        <mark class="title"> Travel Planner</mark>
    </h1>
    <section>

        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" id="toCity" placeholder="Where you are traveling to?"
                        required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"
                        id="dateOfdeparting" placeholder="When you are leaving?" required>
                </div>
                <div class="col">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"
                        id="dateOfReturning" placeholder="When you are returning back?" required>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="Submit" id="submitForm" value="Submit">
        </form>

    </section>

    <section class='hidden flex-container' id="responsesSection">
        <div class="flex-item" :nth-child>
            <img id="cityImage" src="" alt="City image">
        </div>
        <div class="flex-item" id="tripDetails" :nth-child>
            <div>
                <span class="bold">My Trip to:</span>
                <span class="bold" id="myTripToCity"></span>
                <span class="bold">, </span>
                <span class="bold" id="myTripToCountry"></span>
                <img id="countryFlags" src="" />
            </div>
            <button id="reset" class="btn btn-danger">Remove</button>
            <div>
                <span class="bold">Departing:</span>
                <span class="bold" id="dateOfDeparting"></span>
            </div>
            <span>The length of the trip is</span>
            <span id="daysAway"></span><span> days </span>
            <div>
                <span class="bold">Typical weather for then is:</span>
            </div>

            <span>High- </span>
            <span id="maxTemp"></span><span>&#8451;</span>
            <span>, Low- </span>
            <span id="minTemp"></span><span>&#8451;</span>
            <div>
                <span>Mostly </span><span id="weatherCondition"></span><span> through the
                    day</span>
                <img id="weatherIcon" src="" />
            </div>

        </div>
        </div>
        </div>
    </section>

    <footer>
        <p class="footer-heart">
            Made with <g-emoji class="g-emoji" alias="heart"
                fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
                <img class="emoji" alt="heart" height="20" width="20"
                    src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> by <a
                href="https://github.com/Amnahalkhalil">Amnah</a>
        </p>
    </footer>

    <script>
        // Check that service workers are supported
       // if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
           // window.addEventListener('load', () => {
            //    navigator.serviceWorker.register('/service-worker.js');
           // });
        //} else {
           // console.log("Service Working not supported");
       // }
    </script>
</body>

</html>